{{ ansible_managed | comment }}

[client]
password = "vagrant"
port = "3306"
socket = /var/run/mysqld/mysqld.sock

[mysqld]
port = "3306"
bind-address = "0.0.0.0"
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
general_log_file = /var/log/mysql/mysql.log
general_log = 1
